<p style="color: green"><%= notice %></p>

<%= render @company %>

<div>
  <%= link_to "Edit this company", edit_company_path(@company) %> |
  <%= link_to "Show sales", sales_path %> |
  <%= link_to "New sale", new_sale_path %>
  <hr>
</div>
