<h1>New sale</h1>

<%= render "form", sale: @sale %>

<br>

<p>Or update your sales withing CSV</p>
<%= form_with url:import_sales_path, method: :post do |form|%>
  <%= form.file_field :file, accept: ".csv"%>
  <%= form.button "import"%>
<% end %>

<hr>
<div>
  <%= link_to "Back to Home", company_path(1) %>
</div>
